<fieldset>
  <legend>{{ legend }}</legend>

  {% for block in section.blocks %}
    {% if block.type == type %}
      <label>
        <input
          type="{{ input_type | default: 'radio' }}"
          name="properties[{{ property }}]"
          value="{{ block.settings.value }}"
          {% if forloop.first %}checked{% endif %}
          {% if input_type == 'checkbox' and block.settings.price %}
            data-price="{{ block.settings.price }}"
          {% endif %}
          {% if input_type == 'checkbox' and block.settings.is_discount %}
            data-discount="true"
            data-discount-percent="{{ block.settings.discount_percent }}"
          {% endif %}
        >
        {{ block.settings.label }}
      </label>
    {% endif %}
  {% endfor %}

  {% if show_help %}
    <div class="accordion">
      {{ help_label }}
      <div class="accordion-items-wrapper">
        {{ help_sub_label }}
        {% for block in section.blocks %}
          {% if block.type == type %}
            <div class="help-div">
              {% if block.settings.help_image %}
                <span>
                  <img src="{{ block.settings.help_image | image_url }}" alt="Help Image" class="help-image" height="auto" width="auto">
                </span>
              {% endif %}
              <div class="help-text-div">
                <p>{{ block.settings.help_subtitle }}</p>
                <p>{{ block.settings.help_text }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</fieldset>
