{% comment %}
  Renders a product card

  Usage:
  {% render 'product-card', product: product %}
{% endcomment %}

<a
  class="product-card"
  href="{{ product.url }}"
  target="_self"
  aria-label="{{ product.title }} by {{ product.vendor }} - {{ product.price | money }}"
  role="article"
  data-product-id="{{ product.id }}"
  data-product-tags="{{ product.tags | join: ',' | escape }}"
  data-product-vendor="{{ product.vendor | escape }}"
  data-product-collections="{% for coll in product.collections %}{{ coll.title | escape }}{% unless forloop.last %},{% endunless %}{% endfor %}"
  data-product-price="{{ product.price | money_without_currency }}"
  data-product-colors="
    {% for option in product.options_with_values %}
      {% if option.name == 'Color' %}
        {{ option.values | join: ',' }}
      {% endif %}
    {% endfor %}
  "
>
  {% assign background_image = product.metafields.custom.background_image %}
  {% assign product_image = product.media | first %}

  <div
    class="product-card__image-wrapper"
    data-has-foreground-image="{% if product_image and background_image %}true{% else %}false{% endif %}"
  >
    {% if product.metafields.custom.product_badge %}
      <div
        class="badge-button product-card__badge"
        role="text"
        aria-label="Product badge: {{ product.metafields.custom.product_badge }}"
      >
        {{ product.metafields.custom.product_badge | metafield_tag }}
      </div>
    {% endif %}

    <div class="product-card__image-ratio">
      {% if background_image %}
        <div
          class="product-card__bg-image-inner"
          role="img"
          aria-label="Background image for {{ product.title }}"
        >
          <img
            src="{{ background_image | image_url }}"
            alt=""
            class="product-card__bg-image"
            width="auto"
            height="auto"
          >
        </div>
      {% endif %}
      {% if product_image %}
        <div
          class="product-card__product-image"
          role="img"
          aria-label="Primary image of {{ product.title }}"
        >
          <img
            src="{{ product_image.src | image_url }}"
            alt=""
            class="product-card__image product-card__image--primary"
            width="auto"
            height="auto"
          >
        </div>
      {% endif %}
    </div>
  </div>
  <div class="product-card-content">
    <p class="product-card-content__brand type-h4" aria-label="Brand">
      {{ product.vendor }}
    </p>
    <p class="product-card-content__title type-p">
      {{ product.title }}
    </p>
    <div class="product-card-content__price type-p-small" aria-label="Price">
      <span aria-hidden="true">{{ cart.currency.iso_code }}</span>
      <span>{{ product.price | money }}</span>
    </div>
  </div>
</a>
