<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{ 'next-steps.css' | asset_url | stylesheet_tag }}
    {{ 'faq.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}

    {% if request.page_type == 'checkout_thank_you' %}
      {% render 'next-steps-content' %}
    {% endif %}
  </body>
</html>
