{{ 'product-event.css' | asset_url | stylesheet_tag }}

<section class="product-event" aria-label="Event Details">
  <div class="layout-wrapper layout-grid">
    <div class="product-event__image-wrapper">
      {% if product.featured_image %}
        {% render 'image', class: 'product-event__image', image: product.featured_image, alt: product.featured_image.alt | default: product.title %}
      {% endif %}
    </div>
    <div class="product-event-content">
      <div class="product-event-inner">
        {% if product.title %}
          <h1 class="product-event-content__title type-h1-small">{{ product.title }}</h1>
        {% endif %}
        {% if product.description != blank %}
          <div class="product-event-content__description type-p">
            {{ product.description }}
          </div>
        {% endif %}
        <div class="product-event-content-card-wrapper">
          {% if product.metafields.custom.where_event != blank %}
            <div class="product-event-content-card">
              <p class="product-event-content-card__subtitle">Where</p>
              <p class="product-event-content-card__text">{{ product.metafields.custom.where_event }}</p>
            </div>
          {% endif %}
          {% if product.metafields.custom.when_event != blank %}
            <div class="product-event-content-card">
              <p class="product-event-content-card__subtitle">When</p>
              <p class="product-event-content-card__text">{{ product.metafields.custom.when_event }}</p>
            </div>
          {% endif %}
          {% if product.metafields.custom.events_links.value != blank %}
            <div class="product-event-content-card type-p">
              <p class="product-event-content-card__subtitle" id="event-links">Links</p>
              <div role="list" aria-labelledby="event-links">
                {% for link in product.metafields.custom.events_links.value %}
                  {% if link.link_url.value != blank and link.link_text.value != blank %}
                    <a
                      class="product-event-content-card__link"
                      href="{{ link.link_url.value }}"
                      target="_blank"
                      rel="noopener noreferrer"
                      role="listitem"
                    >
                      {{ link.link_text.value }}
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="product-event-ctas">
        {% if product.metafields.custom.1_cta_link != blank and product.metafields.custom.1_cta_text != blank %}
          <div data-hover-shake>
            <a
              class="event-text primary-button primary-button--highlight"
              href="{{ product.metafields.custom.1_cta_link }}"
              aria-label="{{ product.metafields.custom.1_cta_text }}"
            >
              {{- product.metafields.custom.1_cta_text -}}
            </a>
          </div>
        {% endif %}
        {% if product.metafields.custom.2_cta_link != blank and product.metafields.custom.2_cta_text != blank %}
          <div data-hover-shake>
            <a
              class="event-text primary-button"
              href="{{ product.metafields.custom.2_cta_link }}"
              aria-label="{{ product.metafields.custom.2_cta_text }}"
            >
              {{- product.metafields.custom.2_cta_text -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
