{{ 'event-single.css' | asset_url | stylesheet_tag }}

<section class="event-wrapper">
  <div class="page-split">
    <div class="event-image-wrapper">
      {% render 'image', class: 'event-image', image: product.featured_image %}
    </div>
    <div class="event-info-wrapper">
      <h2 class="event-title">{{ product.title }}</h2>
      <div class="event-description">
        {{ product.description }}
      </div>
      {% comment %} Add checks to these divs if there is information, then render {% endcomment %}
      {% if product.metafields.custom.where_event %}
        <div class="event-extra-info">
          <p class="event-subtitle">Where</p>
          <p class="event-text">{{ product.metafields.custom.where_event }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.when_event %}
        <div class="event-extra-info">
          <p class="event-subtitle">When</p>
          <p class="event-text">{{ product.metafields.custom.when_event }}</p>
        </div>
      {% endif %}
      {% if product.metafields.custom.events_links.value %}
        <div class="event-extra-info">
          <p class="event-subtitle">Links</p>

          {% for link in product.metafields.custom.events_links.value %}
            <a href="{{ link.link_url.value }}" target="_blank">
              {{ link.link_text.value }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
      <div class="event-ctas">
        {% if product.metafields.custom.1_cta_link || product.metafields.custom.1_cta_text %}
          <div class="cta-button ticket-button">
            <a class="event-text" href="{{ product.metafields.custom.1_cta_link }}">
              {{- product.metafields.custom.1_cta_text -}}
            </a>
          </div>
        {% endif %}
        {% if product.metafields.custom.2_cta_link || product.metafields.custom.2_cta_text %}
          <div class="cta-button directions-button">
            <a class="event-text" href="{{ product.metafields.custom.2_cta_link }}">
              {{- product.metafields.custom.2_cta_text -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
